#header {
  margin: auto;
  position: static;
  width: 100%;
}

#shortcut {
  font-size: 150%;
  letter-spacing: 4px;
  max-width: 50%;
  color: #eacbfc;
  float: right;
  margin-top: 20px; 
  padding: 20px;
}

footer {
  position: static;
  margin-bottom: 5px;
  padding-bottom: 5px;
  bottom: 5px;
  border: 2px solid black;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 1.5rem;
  font-weight: bold;
}

#menu {
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
}

#menuhead {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 3rem;
}

#listmenu, li:not(:last-child) {
  margin-bottom: 10px;
}

#listmenu, li {
  border-bottom: 1px solid gray;
}